	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="/css/bootstrap.css" type="text/css" />

	<style type="text/css">
		.grey-box {
			background:#f9f9f9;
			border:1px solid #ddd;
			border-radius:3px;
			padding:12px;
			margin-bottom:24px
		}

		.grey-box h3 {
			margin-top: 0px
		}

		.grey-box form {
			width: 50%;
			margin: auto
		}
	</style>
