<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>The Directory</title>
<link rel="icon" href="https://cdn.turbo360-vertex.com/lister-startup-ij64jh/public/dist/images/favicon.ico">

<link href="https://cdn.turbo360-vertex.com/lister-startup-ij64jh/public/dist/css/plugins.min.css" rel="stylesheet">
<link href="https://cdn.turbo360-vertex.com/lister-startup-ij64jh/public/dist/css/main.min.css" rel="stylesheet">
