<!DOCTYPE html>
<html lang="en">

    <head>
        {{>head}}
    </head>

    <body>
        <!-- header -->
        <div id="header-fix" class="header fixed-top">
            {{>nav}}
        </div>
        <!--End header -->
        <!-- Page Inner -->
        <section class="lis-bg-light pb-5">
            <div class="container pt-5">
                <div class="row">
                    <div class="col-12 col-sm-6 wow fadeInLeft">
                        <div class="page-title">
                            <h2>Blog</h2>
                            <p class="mb-0">Latest news posts from lister</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 text-left text-sm-right wow fadeInRight">
                        <ol class="breadcrumb mb-0 pl-0 bg-transparent">
                            <li class="breadcrumb-item d-inline-block float-none"><a href="#" class="lis-light">Home</a></li>
                            <li class="breadcrumb-item d-inline-block float-none active">Blog Grid</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>
        <!--End Page Inner -->
        <!-- Blog -->
        <section>
            <div class="container">
                <div class="row">
                    <!-- If there are no posts, this shows -->
                    {{^posts}}
                    <h1>No posts.</h1>
                    {{/posts}}
                    <!-- If there are posts, they are displayed -->
                    {{#posts}}
                    <div class="col-12 col-md-6 col-lg-4 wow fadeInUp mb-5">
                        <div class="card border-0 lis-relative">
                            <a href="/post/{{slug}}">
                                <div class="modImage lis-grediant grediant-tb-light2 lis-relative rounded">
                                    <img src="{{image}}" alt="" class="img-fluid rounded">
                                </div>
                                <div class="lis-absolute lis-right-20 lis-top-20">
                                    <div class="lis-post-meta border border-white text-white rounded lis-f-14">{{category}}</div>
                                </div>
                            </a>
                            <div class="pt-4">
                                <span class="lis-light">{{date}}</span>
                                <a href="/post/{{slug}}" class="lis-dark">
                                    <h6 class="mt-2">{{title}}</h6>
                                </a>
                                <p>{{tagline}}</p>
                            </div>
                        </div>
                    </div>
                    {{/posts}}
                </div>
            </div>
        </section>
        <!--End Blog -->
        {{>footer}}
        {{>modals}}
        {{>imports}}
    </body>

</html>