<!DOCTYPE html>
<html lang="en">

    <head>
        {{>head}}
    </head>

    <body>
        <!-- header -->
        <div id="header-fix" class="header fixed-top">
            {{>nav}}
        </div>
        <!--End header -->
        <!-- Page Inner -->
        <section class="lis-bg-light pb-5">
            <div class="container pt-5">
                <div class="row">
                    <div class="col-12 col-sm-6 wow fadeInLeft">
                        <div class="page-title">
                            <h2>Blog</h2>
                            <p class="mb-0">Latest news posts from lister</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 text-left text-sm-right wow fadeInRight">
                        <ol class="breadcrumb mb-0 pl-0 bg-transparent">
                            <li class="breadcrumb-item d-inline-block float-none"><a href="#" class="lis-light">Home</a></li>
                            <li class="breadcrumb-item d-inline-block float-none active">Blog Grid</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>
        <!--End Page Inner -->
        <!-- Blog -->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4 wow fadeInUp mb-5">
                        <div class="card border-0 lis-relative">
                            <a href="#">
                                <div class="modImage lis-grediant grediant-tb-light2 lis-relative rounded"> <img src="dist/images/blog1.jpg" alt="" class="img-fluid rounded"> </div>
                                <div class="lis-absolute lis-right-20 lis-top-20">
                                    <div class="lis-post-meta border border-white text-white rounded lis-f-14">Bar &amp; Club</div>
                                </div>
                            </a>
                            <div class="pt-4"> <span class="lis-light">16 October 2017</span> <a href="#" class="lis-dark"><h6 class="mt-2">Donec vitae sapien ut libero</h6></a>
                                <p>Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus nullam accumsan dui.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 wow fadeInUp mb-5">
                        <div class="card border-0 lis-relative">
                            <a href="#">
                                <div class="modImage lis-grediant grediant-tb-light2 lis-relative rounded"> <img src="dist/images/blog2.jpg" alt="" class="img-fluid rounded"> </div>
                                <div class="lis-absolute lis-right-20 lis-top-20">
                                    <div class="lis-post-meta border border-white text-white rounded lis-f-14">Bar &amp; Club</div>
                                </div>
                            </a>
                            <div class="pt-4"> <span class="lis-light">24 October 2017</span> <a href="#" class="lis-dark"><h6 class="mt-2">Nam quam nunc blandit vel luctus</h6></a>
                                <p>Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus nullam accumsan dui.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 wow fadeInUp mb-5">
                        <div class="card border-0 lis-relative">
                            <a href="#">
                                <div class="modImage lis-grediant grediant-tb-light2 lis-relative rounded"> <img src="dist/images/bg2.jpg" alt="" class="img-fluid rounded"> </div>
                                <div class="lis-absolute lis-right-20 lis-top-20">
                                    <div class="lis-post-meta border border-white text-white rounded lis-f-14">Bar &amp; Club</div>
                                </div>
                            </a>
                            <div class="pt-4"> <span class="lis-light">30 October 2017</span> <a href="#" class="lis-dark"><h6 class="mt-2">Maecenas tempus tellus eget</h6></a>
                                <p>Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus nullam accumsan dui.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 wow fadeInUp mb-5">
                        <div class="card border-0 lis-relative">
                            <a href="#">
                                <div class="modImage lis-grediant grediant-tb-light2 lis-relative rounded"> <img src="dist/images/blog3.jpg" alt="" class="img-fluid rounded"> </div>
                                <div class="lis-absolute lis-right-20 lis-top-20">
                                    <div class="lis-post-meta border border-white text-white rounded lis-f-14">Bar &amp; Club</div>
                                </div>
                            </a>
                            <div class="pt-4"> <span class="lis-light">16 October 2017</span> <a href="#" class="lis-dark"><h6 class="mt-2">Donec vitae sapien ut libero</h6></a>
                                <p>Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus nullam accumsan dui.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 wow fadeInUp mb-5">
                        <div class="card border-0 lis-relative">
                            <a href="#">
                                <div class="modImage lis-grediant grediant-tb-light2 lis-relative rounded"> <img src="dist/images/blog4.jpg" alt="" class="img-fluid rounded"> </div>
                                <div class="lis-absolute lis-right-20 lis-top-20">
                                    <div class="lis-post-meta border border-white text-white rounded lis-f-14">Bar &amp; Club</div>
                                </div>
                            </a>
                            <div class="pt-4"> <span class="lis-light">24 October 2017</span> <a href="#" class="lis-dark"><h6 class="mt-2">Nam quam nunc blandit vel luctus</h6></a>
                                <p>Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus nullam accumsan dui.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 wow fadeInUp mb-5">
                        <div class="card border-0 lis-relative">
                            <a href="#">
                                <div class="modImage lis-grediant grediant-tb-light2 lis-relative rounded"> <img src="dist/images/blog5.jpg" alt="" class="img-fluid rounded"> </div>
                                <div class="lis-absolute lis-right-20 lis-top-20">
                                    <div class="lis-post-meta border border-white text-white rounded lis-f-14">Bar &amp; Club</div>
                                </div>
                            </a>
                            <div class="pt-4"> <span class="lis-light">30 October 2017</span> <a href="#" class="lis-dark"><h6 class="mt-2">Maecenas tempus tellus eget</h6></a>
                                <p>Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus nullam accumsan dui.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 wow fadeInUp mb-5 mb-lg-0">
                        <div class="card border-0 lis-relative">
                            <a href="#">
                                <div class="modImage lis-grediant grediant-tb-light2 lis-relative rounded"> <img src="dist/images/blog6.jpg" alt="" class="img-fluid rounded"> </div>
                                <div class="lis-absolute lis-right-20 lis-top-20">
                                    <div class="lis-post-meta border border-white text-white rounded lis-f-14">Bar &amp; Club</div>
                                </div>
                            </a>
                            <div class="pt-4"> <span class="lis-light">16 October 2017</span> <a href="#" class="lis-dark"><h6 class="mt-2">Donec vitae sapien ut libero</h6></a>
                                <p>Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus nullam accumsan dui.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 wow fadeInUp mb-5 mb-lg-0">
                        <div class="card border-0 lis-relative">
                            <a href="#">
                                <div class="modImage lis-grediant grediant-tb-light2 lis-relative rounded"> <img src="dist/images/blog7.jpg" alt="" class="img-fluid rounded"> </div>
                                <div class="lis-absolute lis-right-20 lis-top-20">
                                    <div class="lis-post-meta border border-white text-white rounded lis-f-14">Bar &amp; Club</div>
                                </div>
                            </a>
                            <div class="pt-4"> <span class="lis-light">24 October 2017</span> <a href="#" class="lis-dark"><h6 class="mt-2">Nam quam nunc blandit vel luctus</h6></a>
                                <p>Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus nullam accumsan dui.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 wow fadeInUp">
                        <div class="card border-0 lis-relative">
                            <a href="#">
                                <div class="modImage lis-grediant grediant-tb-light2 lis-relative rounded"> <img src="dist/images/blog8.jpg" alt="" class="img-fluid rounded"> </div>
                                <div class="lis-absolute lis-right-20 lis-top-20">
                                    <div class="lis-post-meta border border-white text-white rounded lis-f-14">Bar &amp; Club</div>
                                </div>
                            </a>
                            <div class="pt-4"> <span class="lis-light">30 October 2017</span> <a href="#" class="lis-dark"><h6 class="mt-2">Maecenas tempus tellus eget</h6></a>
                                <p>Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus nullam accumsan dui.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Blog -->
        {{>footer}}
        {{>modals}}
        {{>imports}}
    </body>

</html>