<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
	{{>head}}
</head>

<body>
	{{>nav}}

	<div class="row">
		<div class="col-md-6 col-md-offset-3" style="text-align:center;margin-bottom:48px">
			<h1>Dashboard Page</h1>
			<hr />
			<div class="grey-box">
				<h3>Purpose</h3>
				<hr />
				<p>
					This is the main user admin console page. Only logged-in users should be able to access this page and the general user-updating functionity should be placed here: change password, username, upload image, etc.
				</p>
				<p>
					Also, app-specific management should happen here as well. For example, if the app allows user to send messages, those messages should show up on this page.
				</p>
			</div>

			<div class="grey-box">
				<h3>Current User</h3>
				<hr />
				<p>Update current user details below:</p>

				<form action="/auth/update" method="POST">
					<input class="form-control" value="{{user.email}}" type="text" name="email" placeholder="Email" /><br />
					<input class="form-control" value="{{user.username}}" type="text" name="username" placeholder="Username" /><br />
					<input class="form-control" value="{{user.password}}" type="password" name="password" placeholder="Password" /><br />
					<input class="form-control" type="hidden" name="id" value="{{user.id}}" />
					<button type="submit" class="btn btn-info">Update Profile</button>
				</form>
			</div>

			<div class="grey-box">
				<h3>Log Out</h3>
				<hr />
				<p>Click the link below to log out. After successfully logging out, app redirects to landing.mustache page.<br /><br /><a class="btn btn-danger" href="/auth/logout">Log Out</a></p>

			</div>
		</div>
	</div>


  <!-- Turbo library imports: jQuery, Turbo CDN, sample app.js.
  NOTE: These should be minified in a build script -->
  <script type="text/javascript" src="/js/jquery.js"></script>

  <!-- For file uploading. Remove if file upload not necessry -->
  <script type="text/javascript" src="/js/dropzone.js"></script> 

  <!-- Turbo CDN. Better to use CDN than to store locally. -->
  <script type="text/javascript" src="https://cdn.turbo360-dev.com/dist/turbo.min.js"></script>

  <!-- Your app specific code -->
  <script type="text/javascript" src="/js/app.js"></script>
</body>
</html>