<!DOCTYPE html>
<html lang="en">
    <head>
        {{>head}}
    </head>

    <body>
        <div id="header-fix" class="header fixed-top transperant">        
            {{>nav}}
        </div>

        <!-- Page Inner -->
        <section class="image-bg lis-grediant grediant-tb">
            <div class="background-image-maker"></div>
            <div class="holder-image">
                <img src="{{ static.header-image }}" alt="" class="img-fluid d-none" />
            </div>
            <div class="container">
                <div class="row justify-content-center pt-5 py-5">
                    <div class="col-12 col-md-10 text-center wow fadeInUp">
                        <div class="heading pb-0 pt-5">
                            <h1 class="display-4">{{ static.headline }}</h1>
                            <h4 class="font-weight-normal mb-20" style="line-height:36px">
                                {{ static.tagline }}
                                <br />
                                Join today for Free
                            </h4>

                            <ul class="list-unstyled my-2 my-lg-0">
                                <li>
                                     <a href="#modal" class="btn btn-info text-white login_form register_form">Register</a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Page Inner -->

        <!-- Explore Industries -->
        <section id="explore-industries">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10 text-center">
                        <div class="heading pb-4">
                            <h2 class="f-weight-500">Explore Industries</h2>
                            <h5 class="lis-light">Discover mentors within your industry</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row portfolio-box">
                    <div class="post col-md-4 text-center wow fadeInUp mb-4">
                        <a href="/mentors?industries=technology" class="text-white">
                            <div class="text-white lis-relative lis-masonry rounded"> <img src="https://images.unsplash.com/photo-1504890001746-a9a68eda46e2?auto=format&fit=crop&w=1879&q=80" alt="" class="img-fluid rounded w-100">
                                <div class="overlay rounded"></div>
                                <div class="lis-absolute lis-right-0 lis-left-0 lis-top-0 w-100 h-100">
                                    <div class="d-table w-100 h-100">
                                        <div class="d-table-cell align-middle">
                                            <h4 class="mb-2 text-white">Technology</h4>
                                            <p>16 Mentors</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="post col-md-4 text-center wow fadeInUp mb-4">
                        <a href="/mentors?industries=law" class="text-white">
                            <div class="text-white lis-relative lis-masonry rounded"> <img src="https://images.unsplash.com/photo-1505664194779-8beaceb93744?auto=format&fit=crop&w=1950&q=80" alt="" class="img-fluid rounded w-100">
                                <div class="overlay rounded"></div>
                                <div class="lis-absolute lis-right-0 lis-left-0 lis-top-0 w-100 h-100">
                                    <div class="d-table w-100 h-100">
                                        <div class="d-table-cell align-middle">
                                            <h4 class="mb-2 text-white">Law</h4>
                                            <p>19 Lawyers</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="post col-md-4 text-center wow fadeInUp mb-4">
                        <a href="/mentors?industries=business" class="text-white">
                            <div class="text-white lis-relative lis-masonry rounded"> <img src="https://cdn.turbo360-vertex.com/lister-startup-ij64jh/public/dist/images/lincoln.jpg" alt="" class="img-fluid rounded w-100">
                                <div class="overlay rounded"></div>
                                <div class="lis-absolute lis-right-0 lis-left-0 lis-top-0 w-100 h-100">
                                    <div class="d-table w-100 h-100">
                                        <div class="d-table-cell align-middle">
                                            <h4 class="mb-2 text-white">Business</h4>
                                            <p>27 MBAs</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="post col-md-4 text-center wow fadeInUp mb-4 mb-md-0">
                        <a href="/mentors?industries=sports" class="text-white">
                            <div class="text-white lis-relative lis-masonry rounded"> <img src="https://images.unsplash.com/photo-1483721310020-03333e577078?auto=format&fit=crop&w=2900&q=80" alt="" class="img-fluid rounded w-100">
                                <div class="overlay rounded"></div>
                                <div class="lis-absolute lis-right-0 lis-left-0 lis-top-0 w-100 h-100">
                                    <div class="d-table w-100 h-100">
                                        <div class="d-table-cell align-middle">
                                            <h4 class="mb-2 text-white">Sports</h4>
                                            <p>23 Athletes</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="post col-md-4 text-center wow fadeInUp mb-4 mb-md-0">
                        <a href="/mentors?industries=military" class="text-white">
                            <div class="text-white lis-relative lis-masonry rounded"> <img src="https://images.unsplash.com/photo-1482649671545-bc53dcf1ad7c?auto=format&fit=crop&w=1950&q=80" alt="" class="img-fluid rounded w-100">
                                <div class="overlay rounded"></div>
                                <div class="lis-absolute lis-right-0 lis-left-0 lis-top-0 w-100 h-100">
                                    <div class="d-table w-100 h-100">
                                        <div class="d-table-cell align-middle">
                                            <h4 class="mb-2 text-white">Military</h4>
                                            <p>34 Mentors</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="post col-md-4 text-center wow fadeInUp mb-4 mb-md-0">
                        <a href="/mentors?industries=government" class="text-white">
                            <div class="text-white lis-relative lis-masonry rounded"> <img src="https://images.unsplash.com/photo-1501466044931-62695aada8e9?auto=format&fit=crop&w=1878&q=80" alt="" class="img-fluid rounded w-100">
                                <div class="overlay rounded"></div>
                                <div class="lis-absolute lis-right-0 lis-left-0 lis-top-0 w-100 h-100">
                                    <div class="d-table w-100 h-100">
                                        <div class="d-table-cell align-middle">
                                            <h4 class="mb-2 text-white">Government</h4>
                                            <p>22 Legislators</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!--End Explore Industries -->
        
        <!-- Featured Mentors -->
        <section class="lis-bg-light">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10 text-center">
                        <div class="heading pb-4">
                            <h2>Featured Mentors</h2>
                            <h5 class="font-weight-normal lis-light">Discover &amp; connect with top-rated local mentors</h5> 
                        </div>
                    </div>
                </div>
                <div class="row">
                    {{#mentors}}
                    <div class="col-12 col-md-6 col-lg-6 col-xl-4 wow fadeInUp mb-4">
                        <div class="card lis-brd-light text-center text-lg-left">
                            <a href="/mentor/{{username}}">
                                <div class="lis-grediant grediant-tb-light2 lis-relative modImage rounded-top"> <img src="{{coverImage}}=h187-w395-c" alt="" class="img-fluid rounded-top w-100" /> </div>
                            </a>
                            <div class="card-body pt-0">
                                <div class="media d-block d-lg-flex lis-relative">
                                    <a href="/mentor/{{username}}">
                                        <img src="{{image}}=s80-c" alt="" class="lis-mt-minus-15 img-fluid d-lg-flex mx-auto mr-lg-3 mb-4 mb-lg-0 border lis-border-width-2 rounded-circle border-white" width="80">
                                    </a>

                                    <div class="media-body align-self-start mt-2">
                                        <a href="/mentor/{{username}}" class="lis-dark">
                                            <h6 class="mb-0 lis-font-weight-600" style="text-transform: capitalize;">
                                                {{firstName}} {{lastName}}
                                            </h6>
                                            <span>{{#hourlyRate}}${{hourlyRate}}/hour{{/hourlyRate}}</span>
                                        </a>
                                    </div>
                                </div>
                                <p class="user-bio">{{bio}}</p>
                                <a href="/mentor/{{username}}">Read More</a>
                                <ul class="list-unstyled my-4 lis-line-height-2">
                                    {{#phone}}
                                    <li><i class="fa fa-phone pr-2"></i> {{phone}}</li>
                                    {{/phone}}

                                    {{#city}}
                                    <li><i class="fa fa-map-o pr-2"></i> {{city}}, {{state}}</li>
                                    {{/city}}
                                    {{^city}}
                                    <li><i class="fa fa-map-o pr-2"></i> New York, NY</li>
                                    {{/city}}
                                </ul>
                                <div class="clearfix">
                                    <div class="float-none float-lg-left mb-3 mb-lg-0 mt-1">
                                        {{#industries}}
                                        <a href="/mentors?industries={{.}}" class="text-white"><i class="icofont icofont-{{.}} px-2 lis-bg5 py-2 lis-rounded-circle-50 lis-f-14"></i></a>
                                        {{/industries}}
                                    </div>
                                    <div class="float-none float-lg-right mt-1">
                                        <a href="mailto:{{email}}" class="lis-light lis-f-14"><i class="fa fa-envelope-o lis-id-info  lis-rounded-circle-50 text-center"></i></a>
                                        <a href="#" class="lis-green-light text-white p-2 lis-rounded-circle-50 lis-f-14"><i class="fa fa-star"></i> 4.0</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/mentors}}
                </div>
            </div>
        </section>
        <!--End Featured Mentors -->

        <!-- Work -->
        <section>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10 text-center">
                        <div class="heading pb-4">
                            <h2>{{ static.cta }}</h2>
                            <h5 class="font-weight-normal lis-light">{{ static.cta-tagline }}</h5> </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4 text-center wow fadeInUp mb-5 mb-md-0">
                        <div class="icon-box box-line box-line-dotted1 lis-relative"> <img src="https://cdn.turbo360-vertex.com/lister-startup-ij64jh/public/dist/images/icon-1.png" alt="" class="img-fluid mb-4 z-index-99  lis-relative" />
                            <h5>{{ static.step-one }}</h5>
                            <p>{{ static.step-one-description }}</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 text-center wow fadeInUp mb-5 mb-md-0">
                        <div class="icon-box box-line box-line-dotted2 lis-relative"> <img src="https://cdn.turbo360-vertex.com/lister-startup-ij64jh/public/dist/images/icon-2.png" alt="" class="img-fluid mb-4 z-index-99  lis-relative" />
                            <h5>{{ static.step-two }}</h5>
                            <p>{{ static.step-two-description }}</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 text-center wow fadeInUp mb-5 mb-md-0">
                        <div class="icon-box"> <img src="https://cdn.turbo360-vertex.com/lister-startup-ij64jh/public/dist/images/icon-3.png" alt="" class="img-fluid mb-4 z-index-99  lis-relative" />
                            <h5>{{ static.step-three }}</h5>
                            <p>{{ static.step-three-description }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Work -->

        <!-- Testimonial -->
        <section class="lis-bg-light">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-6 text-center">
                        <div id="testimonial" class="owl-carousel">
                            <div class="item text-center">
                                <div class="quote"><img src="https://cdn.turbo360-vertex.com/lister-startup-ij64jh/public/dist/images/quote.png" alt="" class="img-fluid mx-auto lis-relative" /></div>
                                <h5>"{{static.testimonial-title}}"</h5>
                                <p class="lis-line-height-2 lis-dark">{{static.testimonial-body}}</p>
                                <div class="author">
                                    <A href="#"><img src="{{static.testimonial-image}}" alt="" class="img-fluid mx-auto rounded-circle py-3" /></A>
                                    <h5 class="lis-primary mb-2">{{static.testimonial-name}}</h5> <span>{{static.testimonial-company}}</span> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Testimonial -->

        <!-- Blog -->
        <section>
            <div class="container">
                   <div class="row justify-content-center">
                    <div class="col-12 col-md-10 text-center">
                        <div class="heading pb-4">
                            <h2>News</h2>
                            <h5 class="font-weight-normal lis-light">Discover &amp; connect with top-rated local businesses</h5>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4 wow fadeInUp mb-5 mb-lg-0">
                        <div class="card border-0 lis-relative">
                            <a href="#">
                                <div class="modImage lis-grediant grediant-tb-light2 lis-relative rounded"> <img src="https://cdn.turbo360-vertex.com/lister-startup-ij64jh/public/dist/images/blog1.jpg" alt="" class="img-fluid rounded"> </div>
                                <div class="lis-absolute lis-right-20 lis-top-20">
                                    <div class="lis-post-meta border border-white text-white rounded lis-f-14">Bar &amp; Club</div>
                                </div>
                            </a>
                            <div class="pt-4"> <span class="lis-light">16 October 2017</span> <a href="#" class="lis-dark"><h6 class="mt-2">Donec vitae sapien ut libero></h6></a>
                                <p>Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus nullam accumsan dui.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 wow fadeInUp mb-5 mb-lg-0">
                        <div class="card border-0 lis-relative">
                            <a href="#">
                                <div class="modImage lis-grediant grediant-tb-light2 lis-relative rounded"> <img src="https://cdn.turbo360-vertex.com/lister-startup-ij64jh/public/dist/images/blog2.jpg" alt="" class="img-fluid rounded"> </div>
                                <div class="lis-absolute lis-right-20 lis-top-20">
                                    <div class="lis-post-meta border border-white text-white rounded lis-f-14">Bar &amp; Club</div>
                                </div>
                            </a>
                            <div class="pt-4"> <span class="lis-light">24 October 2017</span> <a href="#" class="lis-dark"><h6 class="mt-2">Donec vitae sapien ut libero></h6></a>
                                <p>Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus nullam accumsan dui.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 wow fadeInUp">
                        <div class="card border-0 lis-relative">
                            <a href="#">
                                <div class="modImage lis-grediant grediant-tb-light2 lis-relative rounded"> <img src="https://cdn.turbo360-vertex.com/lister-startup-ij64jh/public/dist/images/bg2.jpg" alt="" class="img-fluid rounded"> </div>
                                <div class="lis-absolute lis-right-20 lis-top-20">
                                    <div class="lis-post-meta border border-white text-white rounded lis-f-14">Bar &amp; Club</div>
                                </div>
                            </a>
                            <div class="pt-4"> <span class="lis-light">30 October 2017</span> <a href="#" class="lis-dark"><h6 class="mt-2">Donec vitae sapien ut libero></h6></a>
                                <p>Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus nullam accumsan dui.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Blog -->

        {{>footer}}
        {{>modals}}
        {{>imports}}
    </body>
</html>