<!DOCTYPE html>
<html lang="en">
    <head>
        {{>head}}
    </head>
    <body>
        <!-- header -->
        <div id="header-fix" class="header fixed-top">
            {{>nav}}
        </div>
        <!--End header -->

        <!-- Sidebar -->
        <section class="pb-0" style="padding-top: 94px;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-lg-6 py-5 order-lg-1 order-2 left-sidebar z-index-99">
                        <div class="lis-relative">
                            <h5 class="mb-2">What are you looking for?</h5>
                            <p>Search by Keywords or Category</p>
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="form-group lis-relative">
                                        <input type="text" class="form-control border-top-0 border-left-0 border-right-0 rounded-0 pl-4" placeholder="What are you looking for?">
                                        <div class="lis-search">
                                            <i class="fa fa-search lis-primary lis-left-0"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group lis-relative">
                                        <select class="style-select form-control border-top-0 border-left-0 border-right-0 rounded-0 pl-4">
                                            <option> All Categories</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                        </select>
                                        <div class="lis-search">
                                            <i class="fa fa-tags lis-primary lis-left-0"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-5">
                                {{#mentors}}
                                <div class="col-12 col-md-6 col-lg-6 col-xl-6 wow fadeInUp mb-4">
                                    <div class="card lis-brd-light text-center text-lg-left">
                                        <a href="/profile/{{username}}">
                                            <div class="lis-grediant grediant-tb-light2 lis-relative modImage rounded-top"> <img src="{{coverImage}}=h187-w395-c" alt="" class="img-fluid rounded-top w-100" /> </div>
                                        </a>
                                        <div class="card-body pt-0">
                                            <div class="media d-block d-lg-flex lis-relative">
                                                <a href="/profile/{{username}}">
                                                    <img src="{{image}}=s80-c" alt="" class="lis-mt-minus-15 img-fluid d-lg-flex mx-auto mr-lg-3 mb-4 mb-lg-0 border lis-border-width-2 rounded-circle border-white" width="80">
                                                </a>

                                                <div class="media-body align-self-start mt-2">
                                                    <a href="/profile/{{username}}" class="lis-dark">
                                                        <h6 class="mb-0 lis-font-weight-600" style="text-transform: capitalize;">
                                                            {{firstName}} {{lastName}}
                                                        </h6>
                                                        <span>{{#hourlyRate}}${{hourlyRate}}/hour{{/hourlyRate}}</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <p class="user-bio">{{bio}}</p>
                                            <a href="/profile/{{username}}">Read More</a>
                                            <ul class="list-unstyled my-4 lis-line-height-2">
                                                {{#phone}}
                                                <li><i class="fa fa-phone pr-2"></i> {{phone}}</li>
                                                {{/phone}}

                                                {{#city}}
                                                <li><i class="fa fa-map-o pr-2"></i> {{city}}, {{state}}</li>
                                                {{/city}}
                                                {{^city}}
                                                <li><i class="fa fa-map-o pr-2"></i> New York, NY</li>
                                                {{/city}}
                                            </ul>
                                            <div class="clearfix">
                                                <div class="float-none float-lg-left mb-3 mb-lg-0 mt-1">
                                                    {{#industries}}
                                                    <a href="/mentors?industries={{.}}" class="text-white"><i class="icofont icofont-{{.}} px-2 lis-bg5 py-2 lis-rounded-circle-50 lis-f-14"></i></a>
                                                    {{/industries}}
                                                </div>
                                                <div class="float-none float-lg-right mt-1">
                                                    <a href="mailto:{{email}}" class="lis-light lis-f-14"><i class="fa fa-envelope-o lis-id-info  lis-rounded-circle-50 text-center"></i></a>
                                                    <a href="#" class="lis-green-light text-white p-2 lis-rounded-circle-50 lis-f-14"><i class="fa fa-star"></i> 4.0</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{/mentors}}
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 order-lg-2 order-1 px-0">
                        <div id="map" class="w-100 h-100 map-fixed"></div>
                    </div>
                </div>
            </div> 
        </section>
        <!--End Sidebar -->

        {{>footer}}
        {{>modals}}
        {{>imports}}
        <script src="/dist/js/data.json"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAjsIpyXFoB7_5_E2DgO_-CTDMHKM0cW4I&sensor=false&callback=initialize"></script>
        <script type="text/javascript">let mentors = {{{ jsmentors }}}</script>
        <script src="/dist/js/map.js"></script>

    </body>
</html>